@import "tailwindcss";
@import "flowbite/src/themes/default";

.fade-in{
    animation:fadeIn 0.3s forwards
}

.fade-out{
    animation:fadeOut 0.3s forwards
}

@keyframes fadeIn {
    from {opacity: 0; transform:scale(0.95)}
    to {opacity: 100; transform: scale(1);}
}

@keyframes fadeOut {
    from {opacity:100; transform: scale(1)}
    to {opacity:0; transform: scale(0.95)}
}