@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fade-in{
    animation:fadeIn 0.3s forwards
}

.fade-out{
    animation:fadeOut 0.3s forwards
}

@keyframes fadeIn {
    from {opacity: 0; transform:scale(0.95)}
    to {opacity: 100; transform: scale(1);}
}

@keyframes fadeOut {
    from {opacity:100; transform: scale(1)}
    to {opacity:0; transform: scale(0.95)}
}

.serif {
    font-family: "DM Serif Text", serif;
    font-weight: 1000;
    font-style: normal;
}